
:root {
  --nord-gray-100: #4C566A;
  --nord-gray-200: #434C5E;
  --nord-gray-300: #3B4252;
  --nord-gray-400: #2E3440;
  --nord-gray-500: #242933;
  
  --nord-white-100: #D8DEE9;
  --nord-white-200: #E5E9F0;
  --nord-white-300: #ECEFF4;
  
  --nord-frost-100: #8FBCBB;
  --nord-frost-200: #88C0D0;
  --nord-frost-300: #81A1C1;
  --nord-frost-400: #5E81AC;
}

*{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}
a:link, a:visited {
  text-decoration: none !important;
  color: inherit;
}
html, body {
  height:100vh;
}


body{
  background-color: var(--nord-gray-500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
h1{
  color: var(--nord-frost-300);
  font-weight: 700;
  font-size: large;
}
ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  padding-left: 0; 
  list-style-type: none;
  height: 80px;
}
input {
  border:none;
  outline: none;
  background-color: var(--nord-white-200);
  border-radius: 8px;
  padding: 10px;
  width: 25rem;
  text-align: center;
}
input:focus::placeholder {
  color: transparent;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;


}
.search {
  margin: auto;
  padding: 5% 10%;
}

.all-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  
}
.links{
  display: flex;
  flex-direction: column;
  background-color: var(--nord-gray-400);
  border-radius: 8px;
  padding: 5px 20px;
  margin: 20px;
  width: 15em;
}

.links li{
  list-style-position: inside;
  color: var(--nord-white-100);
  padding-bottom: 5px;
  font-size: small;
}
.links li:hover {
  color: var(--nord-frost-300);
  cursor: pointer;
}


@media (max-width: 600px) {
  input {
    width: 19em;
  }
  ul {
    height: 9rem;
  }

  a {
    font-size: larger;
    font-weight: 500;

  }
  .container{
    margin-top: 140px;
  }
  .search {
    margin: 20%;
    height: 15%;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .all-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  .links{
    padding: 0 15px;
    width: 17rem;
    height: 13rem;
  }
    
  .links li{
    padding: 0 0 15px 10px;
    font-size: small;
    text-align: left;
    margin-right: 2em;
  }
}
